/*
 Susan Todd
 5-5-2014
 PWA-2
 style.css
 */
 /*Colors
lt slate-- gray#708090
dk grey-- #A9a9a9
lt blue--#add8e6
lt steel blue--#b0c4de
wht smoke-#f5f5f5
olive-grey-background-color-#ABA597
base white-#edf2ee
lt taupe-#B4A085
taupe- #87765A
chocolate brown #45341b
drk taupe-#160606
green hover-#A1AC60  
lt rust hover-#f49440
rust-CTA-#CC6633
drk rust -#CC6633
drk olive-#003300 

 */
 /***********body****************/
 /*center the web page*/
/*center the pg*/
#wrapper{
		width:960px;
	    margin:0 auto;	 
}

body{ 
	
	background-color: #ABA597;//olive-grey
	font-family: Verdana, Arial, sans-serif;
	font-size:1.1em;
	color: #45341b;/*chocolate*/
}
/*Header*/
header{
	background-color:#45341b;/*chocolate*/
	background-image: url("../images/logo1.png");
	background-repeat: no-repeat;
	background-position: bottom margin-left;
	width:960px;
	height:170px;
	
	/*background-repeat:no-repeat;*/
	/*background-color:#45341b ;/*chocolate*/
}
#content{
	    width: 100%;
	
}	    	
#nav{
	width:960px;
	height:170px;
	
}
/*inputs, buttons*/

aside{
	
	 width: 150px;
     font-size:15px;
     padding: 1px 4px 4px;
     float:right;

    
 }

article{
 	float:left;
 	width:350px;
 } 

.app_name{
	color:#CC6633;
	font-weight:bolder;
	font-style: italic;
	float:right;
	margin:40px;
	padding-top: 30px;
} 

.reg_page{
 	width:425px;
 	padding-right: 20px;
 }

#imageBlock{
	width:150px;
	padding-bottom: 10px;
}   

.userid{
	width:760px;

	float:left;/*userid coosponds to the logoutbox below*/
}
.logoutbox{
	width:960px;
	float:left;
}

/*code for tool tip pop up*/
.tooltip{
	/*max-width:200px;*/
	display:none;
	position:absolute;/**/
	border: 1px solid #333;
	background-color:#000;/*black*/
	border-radius: 5px;  /*round edges*/
	padding:10px;
	color:#FFF;
	font-size:12px Arial;
}

/*Tabs- for accordian*/
/* mytabs creates the light grey backround box to hold all the projects*/
.mytabs{
	/*width:800px;*/
	width:760px;
	background-color:#CCC; /*grey*/
	padding:20px;
}

.tabs li{ 
	list-style:none;/*no bullets*/
	display:inline;/*makes the lists didsplay inline*/
}

.tabs a{/* these are the anchors on the tabs*/
	padding:5px 10px;
	 /*should make tabs be inline and block style*/
	display:inline-block;
	background-color:#666;/*grey*/
	color:#FFF;/*shite*/
	text-decoration: none;
}

.tabs a.active{
	background-color:#FFF; /*change background to white when tab is active*/ 
	color:#000;/*black*/
	
} 

/*_____headings-----------------------*/
h1{color:#FFF;}/*white*/

h2{
	color:#45341b;/*chocolate brown*/
	font-size: 1.6em ;
 }

h3{
 	color:#54780e;/*green*/
 	/*color:#cb7f28;orange*/
} 
.green{
		color:#54780e;/*green*/
		font-style: italic;

}
span{
	color:#cb7f28;
	font-weight: bolder;
}

h4{
	color:#cb7f28;
}/*orange*/

p{ 
  	word-wrap:break-word;
}
/*-----CTA--------------------------*/

#cta{

	color:#cb7000;/*call to action orange*/
} 
#cta h2{
	color:#cb7000;/*call to action orange*/
} 

/*-------buttons-----------------------*/

#login{
	float:right;
	font-weight: bolder;
}

#submit{
	margin: 5px;
	font-weight: bolder;
	color:#CC6633;/*orange*/
	
}
#reg{

	width:325px;
	display:block;
	float:right;
	border-left: 1px solid  green;
    border-width: 3px;
    padding-left: 10px;

}

/*-------modal-----------------------*/
#overlay{
	width: 100%;/*covers whole page*/
	height:100%;
	background:rgba(0,0,0,.5);
	position:absolute;/**/
	top:0;
	left:0;
	z-index:1000;/* bring to top of pg*/
	display:none;
}

#modal{
	width: 350px; /*forgot the px on htis line and it made the modal not have a right side*/
	background:#CCC;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;/*round cornners*/
	position:relative;/**/
	overflow:hidden;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left: -200px; 
	z-index:1001;/*ipx over the top of the overlay */
	display:none;
}

#modal .header{
	background-color: #333;
	color:#FFF;
	padding:10px;
}

#modal p{
	margin:15px;
}

#modal .close{
	position: absolute;
	right:5px;
	top:5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #CCC;
	cursor: pointer;
	background-color: #F00;
}

form{
	padding:10px;
}

form input{
	padding:10px;	
}

.mystatus > input[type=radio]{
	display: none;
}

.input[type=radio] + img {
	cursor:pointer;
	border: 2px solid transparent;
}

input[type=radio]:checked + img{
	border:2px solid #F00;
}

.projects{
	font-size:12px;
	color:#FFF;
}

/*========Jquery UI Sortable for Projects====================*/
#sortable { list-style-type: none; margin: 0; padding: 10px; width: 98%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.8em; padding-left: 1.5em; font-size: 1em; height: 90px; }
#sortable li span { position: absolute; margin-left: -1.3em; }


#draggable{ width:100px;
			height:100px;
			padding:0.5em;
}
#droppable{
	        width:150px;
			height:150px;
			padding:0.5em;
			float:left;
			margin: 10px ; 

}







